@font-face {
  font-family: 'Lab Grotesque';
  src: url('./assets/fonts/LabGrotesque-Regular.woff') format('woff'),
   url('./assets/fonts/LabGrotesque-Regular.ttf') format('ttf'),
   url('./assets/fonts/LabGrotesque-Regular.woff2') format('woff2'),
   url('./assets/fonts/LabGrotesque-Regular.eot') format('eot'); 
  font-style: normal;
  font-weight: 400;
} 
@font-face {
  font-family: 'Lab Grotesque';
  src: url('./assets/fonts/LabGrotesque-Bold.woff') format('woff'),
   url('./assets/fonts/LabGrotesque-Bold.ttf') format('ttf'),
   url('./assets/fonts/LabGrotesque-Bold.woff2') format('woff2'),
   url('./assets/fonts/LabGrotesque-Bold.eot') format('eot'); 
  font-style: normal;
  font-weight: 900;
} 
@font-face {
  font-family: 'Nostra';
  src: url('./assets/fonts/Nostra-Sett-Web.woff') format('woff'),
   url('./assets/fonts/Nostra-Sett-Web.ttf') format('ttf'),
   url('./assets/fonts/Nostra-Sett-Web.woff2') format('woff2'); 
  font-style: normal;
  font-weight: 900;
} 
@font-face {
  font-family: 'Nostra';
  src: url('./assets/fonts/Nostra-Stream-Web.woff') format('woff'),
   url('./assets/fonts/Nostra-Stream-Web.ttf') format('ttf'),
   url('./assets/fonts/Nostra-Stream-Web.woff2') format('woff2'); 
  font-style: italic;
  font-weight: 900;
} 


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-responsive{
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.section{
  height: 100vh;
  width: 100%;
  background-color: blue;
}
.section-products{
  width: 100%;
  min-height: 100vh;
}
.products-container{
  margin: 0px auto;
}
.product-list{
  list-style: none;
  display:flex;
  min-height: 100vh;
  position: relative;
}
.product-list__item{
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card--1{
  background: linear-gradient(180deg, #FF8B10 0%, #FFC24D 100%);
  height: 0;
  overflow: hidden;
  transition: all ease .6s; 
}
.product-card--2{
  background: linear-gradient(180deg, #FF200F 0%, #FF7459 100%);
  height: 0;
  overflow: hidden;
  transition: all ease .6s;
  transition-delay: 0.2s;
}
.product-card--3{
  background: linear-gradient(180deg, #3CA612 0%, #55ED1E 100%);
  height: 0;
  overflow: hidden;
  transition: all ease .6s;
  transition-delay: 0.4s;
}
.section-products--active .product-card--1,
.section-products--active .product-card--2,
.section-products--active .product-card--3{
  height: 100%;
}
.product-card__img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  scale: 0;
  transition: all ease .6s; 
  cursor: pointer;
}
.section-products--active .product-card--1 .product-card__img{
  scale: 1;
  transition-delay: .6s;
}
.section-products--active .product-card--2 .product-card__img{
  scale: 1;
  transition-delay: .8s;
}
.section-products--active .product-card--3 .product-card__img{
  scale: 1;
  transition-delay: 1s;
}
/**
transition: all ease .4s; скорость появления банера 
*/
.product-card__description{
  position: absolute;
  top: 0;
  left: -100%;
  overflow: hidden;
  width: 0;
  opacity: 0;
  transition: all ease .4s;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.product-description__wrapper{
  display: flex;
  padding: 80px;
  width: 100%;
  max-width: 1920px;
}
.product-card__description--1{
  background: linear-gradient(180deg, #FF8B10 0%, #FFC24D 100%);
}
.product-card__description--2{
  background: linear-gradient(180deg, #FF200F 0%, #FF7459 100%);
}
.product-card__description--3{
  background: linear-gradient(180deg, #3CA612 0%, #55ED1E 100%);
}
.product-card__description--active{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.product-img{
  width: 100%;
  max-width: 657px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.product-description{
  width: 100%;
  position: relative;
  padding: 0 80px;
  opacity: 0;
}
/*
всплытие текста
*/
.product-card__description--active .product-description{
  animation-name: show-description;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: .8s;
  animation-delay: .6s; 
}
/*
всплытие изображения
*/
.product-card__description--active .product-img{
  animation-name: show-image;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: .8s;
  animation-delay: 1s;
}  
@keyframes show-description{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-image{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-close{
  cursor: pointer; 
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  position: absolute;
  top: 126px;
  right: 260px;
}
.btn-close::before{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FFFF;
  position: absolute;
  top: 25px;
  transform:  rotate(-45deg);
}
.btn-close::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FFFF;
  position: absolute;
  top: 25px;
  transform: rotate(45deg)
}
.variants-list{
  list-style: none;
  margin-top: 132px;
  margin-bottom: 93px;
}
.variants-list__item{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 911;
  font-size: 26px;
  line-height: 150%;
  color: #FFFFFF;
  display: inline-block;
  padding: 0 45px;
  border-left: 2px solid #FFFF;
}
.variants-list__item:last-child{
  border-right: 2px solid #FFFF;
}
.variants-list__item--cola{
  color: #000000;
}
.product-title{
  font-family: 'Nostra';
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 50px;
  letter-spacing: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.product-title--secondary{
  font-family: 'Nostra';
  font-style: italic;
  font-weight: 300;
  font-size: 62px;
  line-height: 50px;
  letter-spacing: 24px;
  color: #000000;
  margin-bottom: 26px;
  text-transform: uppercase;
  position: relative;
  top: -10px;
}
.product-title--cola{
  color: #FFFF;
}
.product-title--lime{
  color: #FCE512;
}
.text-wrapper{
  width: 100%;
  max-width: 760px;
  margin-bottom: 60px;
}
.product-text{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #1D2580;
  margin-bottom: 15px;
}
.product-text--cola{
  color: #000000;
}
.product-text--lime{
  color: #FFFF;
}
.link-button{
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  width: 100%;
  max-width: 771px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#1D2580;
  background-color: #FFFF;
  border-radius: 50px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.1em;
  border: 2px solid transparent;
  transition: all ease .2s;
}
/*hover button*/
.link-button--orange:hover{
  border-color: #FFFF;
  background-color: #FF8B10;
  color: #FFFF;
}
.link-button--lime{
  color: #3DA812;
  background-color: #FCE512;
}
.link-button--lime:hover{
  border-color: #FCE512;
  background-color: #3DA812;
  color: #FFFF;
}
.link-button--cola:hover{
  border-color: #FFFF;
  background-color: #FF200F;
  color: #FFFF;
}

/**media*/

@media screen and (min-width: 1440px) and (max-width: 1919px){
  .product-description__wrapper{
    padding: 40px;
    max-width: 1440px;
  }
  .btn-close{
    width: 40px;
    height: 40px;
    top: 80px;
    right: 90px;
  }
  .variants-list{
    margin-top: 91px;
    margin-bottom: 48px;
  }
  .variants-list__item{
    font-size: 22px;
  }
  .product-title{
    font-size: 62px;
    line-height: 50px;
    letter-spacing: 0.2em;  
  }
  .product-title--secondary {
    font-size: 54px;
    top: -16px;
  }
  .text-wrapper{
    margin-bottom: 74px;
  }
  .product-text{
    font-size: 24px;
    line-height: 150%;
  }
  .link-button{
    height: 60px;
    font-size: 26px;
  }
  .product-img{
    max-width: 492px;
  }
  .product-img img{
    max-width: 311px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px){
  .product-description__wrapper{
    padding: 40px;
    max-width: 1280px;
  }
  .btn-close{
    width: 40px;
    height: 40px;
    top: 50px;
    right: 106px;
  }
  .product-description{
    padding: 0 98px;
  }
  .variants-list{
    margin-top: 61px;
    margin-bottom: 37px;
  }
  .variants-list__item{
    font-size: 20px;
    padding: 0 40px;
  }
  .product-title{
    font-size: 54px;
    line-height: 50px;
    letter-spacing: 0.2em;  
  }
  .product-title--secondary {
    font-size: 45px;
    top: -16px;
  }
  .text-wrapper{
    margin-bottom: 40px;
  }
  .product-text{
    font-size: 22px;
    line-height: 150%;
  }
  .link-button{
    height: 60px;
    font-size: 24px;
  }
  .product-img{
    max-width: 395px;
  }
  .product-img img{
    max-width: 275px;
  }
}
@media screen and (max-width: 1279px){
  .product-description__wrapper{
    padding: 30px;
    max-width: 1024px;
  }
  .btn-close{
    width: 30px;
    height: 30px;
    top: 40px;
    right: 70px;
  }
  .product-description{
    padding: 0 76px;
  }
  .variants-list{
    margin-top: 52px;
    margin-bottom: 26px;
  }
  .variants-list__item{
    font-size: 18px;
    padding: 0 25px;
  }
  .product-title{
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0.2em;  
  }
  .product-title--secondary{
    font-size: 38px;
    letter-spacing: 17px;
    top: -26px;
    margin-bottom: 0;
  }
  .text-wrapper{
    margin-bottom: 30px;
  }
  .product-text{
    font-size: 18px;
    line-height: 150%;
  }
  .link-button{
    height: 50px;
    font-size: 22px;
  }
  .product-img{
    max-width: 330px;
  }
  .product-img img{
    max-width: 222px;
  }
}
